body {
    background-color: lightskyblue;
}    

.foodList {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
 .foods {
    border: 1px solid blue;
    flex-basis: 10%;
    padding: 10px;
    margin: 2em;
}
